<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yunussimulya.gmail.com.mysample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".databinding.ProgressActivity" />
        <activity android:name=".FirstActivity" />
        <activity android:name=".activity.simple.OldApacheActivity" />
        <activity android:name=".activity.simple.OKHttpActivity" />
        <activity android:name=".activity.simple.RetrofitActivity" />
        <activity android:name=".mvp.MvpLoginActivity" />
        <activity android:name=".activity.simple.ReactiveRetrofitActivity" />
        <activity android:name=".activity.simple.ReactiveActivity" />
        <activity android:name=".activity.simple.GlideSimpleActivity" />
        <activity android:name=".mvvm.SimpleMVVMActivity" />
        <activity android:name=".activity.dagger.DaggerActivity"></activity>
    </application>

</manifest>